.latestInsights {
  padding: 102px 0 109px;
  position: relative;
  .slider-container {
    &::before {
      border: 1px solid #a5aaaf;
      border-left: none;
      border-right: none;
      content: "";
      position: absolute;
      top: 234px;
      left: 0;
      z-index: 99;
      width: 100%;
      height: 63.4%;
    }
  }
  h6 {
    color: #e47e3d;
    img {
      width: 22px;
      margin-right: 5px;
      height: 22px;
    }
  }
  h2 {
    margin-bottom: 52px;
  }
  .box {
    height: 5px;
    border: 1px solid #a5aaaf;
    padding: 56px 40px;
    height: 100%;
    img {
      width: 240px;
      height: 130px;
    }
    h5 {
      font-size: 22px;
      margin-top: 30px;
      font-weight: 600;
              display: -webkit-box;
        -webkit-line-clamp: 2;   /* number of lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
      color: #2e4e5e;
    }
    h6 {
      color: #a5aaaf;
      font-size: 17px;
      font-family: "Vazirmatn", sans-serif;
      font-weight: 500;
      margin-top: 15px;
      padding-bottom: 25px;
      margin-bottom: 30px;
      border-bottom: 1px solid #d1d4d7;
    }
    p {
      font-family: 18px;
      margin-bottom: 30px;
      font-weight: 400;
      color: #788089;
      font-family: "Vazirmatn", sans-serif;
    }
    a {
      color: #2e4e5e;
      font-family: "Vazirmatn", sans-serif;
      font-size: 18px;
      text-decoration: none;
      font-weight: 500;
    }
  }
  .slick-arrow.slick-prev {
    border: 1px solid #d1d4d7;
    border-radius: 50px;
    width: 84px;
    height: 48px;
    position: absolute;
    top: 650px;
    left: 0;
    &::before {
      content: "";
      background-image: url("../../assets/leftArrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      margin: auto;
      width: 33px;
      object-fit: contain;
      height: 11px;
    }
  }
  .slick-arrow.slick-next {
    border: 1px solid #d1d4d7;
    border-radius: 50px;
    width: 84px;
    height: 48px;
    top: 650px;
    left: 100px;
    &::before {
      content: "";
      background-image: url("../../assets/rightArrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      margin: auto;
      width: 33px;
      object-fit: contain;
      height: 11px;
    }
  }
  .explore {
    font-family: "Vazirmatn", sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 40px;
    right: 112px;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 500;
    color: #2e4e5e;
  }
}
