.testimonial-wrapper {
  //   max-width: 1100px;
  margin: auto;
  background: #fff;
  overflow: hidden;
}

.slide {
  display: flex;
  min-height: 420px;
  height: 600px;
  background-color: #2f4b5b;
  @media (max-width: 768px) {
    height: 100%;
  }
}

.left {
  width: 60%;
  background: #2f4b5b;
  color: #fff;
  padding: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .img1 {
    width: 152px;
    height: 42px;
  }
  .img2 {
    width: 65px;
    height: 51px;
    right: 100px;
    bottom: 153px;
    position: absolute;
    @media (max-width: 768px) {
      right: 40px;
      bottom: 63px;
    }
  }
  h6 {
    color: #ffbf3c;
    font-size: 22px;
    img {
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 26px;
    margin-bottom: 40px;
    color: #fff;
  }
  @media (max-width: 768px) {
    padding: 30px;
    h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
}

.label {
  color: #f5b335;
  font-size: 14px;
  letter-spacing: 1px;
}

.quote {
  font-size: 26px;
  margin: 30px 0;
  line-height: 1.4;
}

.brand {
  font-size: 22px;
  font-weight: bold;
}

.slide::before {
  content: none;
}

.right {
  width: 40%;
  color: #fff;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 80px 0px;
  img {
    width: 309px;
    height: 279px;
    margin: 0 auto 20px;
  }
  h4 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }

  span {
    font-family: "Vazirmatn", sans-serif;
    font-size: 21px;
    font-weight: 300;
  }
  @media (max-width: 768px) {
    padding: 20px 20px 70px;
    img {
      width: 140px;
      height: auto;
    }
    h4 {
      font-size: 20px;
    }
    span {
      font-size: 18px;
    }
  }
}

.teal {
  background: linear-gradient(180deg, #008aab, #30ab86);
}

.orange {
  background: linear-gradient(180deg, #f2a36b, #e67e22);
}

/* CONTROLS */
.controls {
  position: absolute;
  bottom: 20px;
  right: 50px;
  z-index: 10;
  display: flex;
  align-items: center;

  .person {
    width: 39px;
    margin-right: 30px;
    height: 39px;
  }
}

.next-btn {
  background: none;
  border: none;
  font-weight: bold;
  font-family: "Vazirmatn", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: normal;
  gap: 10px;
  color: #fff;
  img {
    width: 33px;
    height: 12px;
  }
}

/* Swiper dots */
.swiper-pagination-bullet {
  background: #d9d9d9;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  background: #fff;
  width: 39px;
  height: 7px;
  opacity: 1;
  border-radius: 4.5px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .slide {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }
}

.swiper-pagination {
  position: absolute;
  text-align: right;
  right: 520px;
  bottom: 25px !important;
  left: auto !important;
  @media (max-width: 768px) {
    right: 280px;
  }
}
