.latest-events {
  display: flex;
  gap: 0;
  padding: 80px 0 30px;
  background: #f8fafc;
}

.events-left {
  flex: 1;
  .label {
    font-size: 20px;
    color: #a5aaaf;
    font-weight: 500;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 9px;
    }
  }
  p {
    color: #2e4e5e;
    font-size: 20px;
    font-weight: 500;
    font-family: "Vazirmatn", sans-serif;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  h6 {
    img {
      width: 22px;
      height: 22px;
    }
  }

  h2 {
    padding-bottom: 91px;
    margin-bottom: 0;
    font-size: 32px;
  }
  h3 {
    font-size: 34px;
    font-weight: 600;
    margin: 88px 0 41px;
    color: #2e4e5e;
  }
  .description {
    color: #788089;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 33px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 28px;
      padding-bottom: 30px;
    }
    h3 {
      font-size: 24px;
      margin: 38px 0 25px;
    }
    .description {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.events-right {
  flex: 1;
  max-width: 680px;
  margin-top: 100px;
  .swiper-button-prev {
    border: 1px solid #d1d5db;
    border-radius: 50px;
    width: 84px;
    height: 48px;
    &::before {
      content: "";
      background-image: url("../../assets/leftArrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 33px;
      object-fit: contain;
      height: 11px;
    }
    svg {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .swiper-button-prev {
      width: 50px;
      height: 30px;
      &::before {
        width: 20px;
        height: 7px;
      }
    }
  }
  .swiper-button-next {
    border: 1px solid #d1d5db;
    border-radius: 50px;
    width: 84px;
    height: 48px;
    &::before {
      content: "";
      background-image: url("../../assets/rightArrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 33px;
      object-fit: contain;
      height: 11px;
    }
    svg {
      display: none;
    }
  }
  @media (max-width: 768px) {
    max-width: 100%;
    margin-top: 50px;
    .swiper-button-next {
      width: 50px;
      height: 30px;
      &::before {
        width: 20px;
        height: 7px;
      }
    }
  }
}

.slide-card {
  background: #fff;
  border-radius: 16px;
  padding: 150px 40px 61px;
  position: relative;
  top: -80px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  @media (max-width: 768px) {
    padding: 100px 10px 40px;
    top: -40px;
  }
}

.event-slider img {
  width: 460px;
  height: 310px;
  object-fit: cover;
  border-radius: 12px;
  @media (max-width: 768px) {
    width: 250px;
    height: auto;
  }
}

.venue {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  .venuse {
    font-size: 20px;
    font-weight: 600;
    color: #a5aaaf;
    font-family: "Vazirmatn", sans-serif;
  }
  p {
    font-weight: 600;
    margin: 6px 0 12px;
    font-size: 20px;
    font-family: "Vazirmatn", sans-serif;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.calendar-btn {
  border-radius: 9px;
  height: 50px;
  align-items: center;
  padding-left: 0;
  cursor: pointer;
  gap: 10px;
  background-color: transparent;
  display: flex;
  border: 1px solid #2e4e5e;
  .text {
    font-size: 18px;
    color: #2e4e5e;
    font-family: "Vazirmatn", sans-serif;
  }
  .spanImage {
    background-color: #2e4e5e;
    padding: 9px;
    border-radius: 9px 0px 0 9px;
    img {
      width: 30px;
      height: 30px;
    }
    @media (max-width: 768px) {
      padding: 13px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
