.business {
  background-color: #f5f8fa;
  padding: 130px 0 100px;
  p {
    font-size: 20px;
    color: #788089;
    line-height: 28px;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }

  h2{
    @media (max-width: 768px) {
      font-size: 28px;
      text-align: center;
    }
  }

  h6{
    img{
        width: 22px;
        height: 22px;
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      gap: 10px;
      font-size: 14px;
      img{
        width: 20px;
        height: 20px;
      }
    }
  }

  .img-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        object-fit: contain;
    }
    .img1{
        width: 150px;
        height: 67px;
        opacity: .5;
    }
    .img2{
        width: 290px;
        height: 75px;
        opacity: .5;
    }
    .img3{
        width: 150px;
        height: 84px;
        opacity: .5;
    }
    .img4{
        width: 190px;
        height: 67px;
        opacity: .5;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  @media (max-width: 768px) {
    padding: 80px 0 60px;
  }
}
