.slider-containers {
  height: 850px;
  padding: 350px 60px 0;
  .slick-slide {
    h1 {
      color: white;
      font-size: 64px;
      font-weight: 500;
    }
    p {
      font-size: 22px;
      color: white;
      margin-top: 16px;
      font-weight: 400;
      font-family: "Vazirmatn", sans-serif;
      margin: 30px 0 50px;
    }
    button {
      background-color: transparent;
      border: none;
      border-radius: 9px;
      color: white;
      font-family: "Vazirmatn", sans-serif;
      border: 1px solid white;
      font-size: 18px;
      font-weight: 500;
      padding: 11px 26px;
      cursor: pointer;
    }
  }

  .list-slider {
    width: 75%;
    margin-left: auto;
    margin-top: 100px;
    .slick-slide {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 1px;
        background-color: rgb(255, 255, 255, 0.7);
      }
      h3 {
        font-size: 22px;
        font-weight: 500;
        font-family: "Vazirmatn", sans-serif;
        color: rgb(255, 255, 255, 0.7);
        margin-top: 20px;
        margin-bottom: 15px;
      }
      h5 {
        font-size: 22px;
        color: rgb(255, 255, 255, 0.7);
        font-weight: 500;
        margin-bottom: 0;
      }
    }
    .slick-slide.slick-active.slick-current {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 1px;
        background-color: rgb(255, 255, 255, 1);
      }
      h3 {
        font-size: 22px;
        font-weight: 500;
        font-family: "Vazirmatn", sans-serif;
        color: white;
        margin-top: 20px;
        margin-bottom: 15px;
      }
      h5 {
        font-size: 22px;
        color: white;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
  }
  .slick-arrow.slick-prev {
    border: 1px solid rgb(255, 255, 255, .5);
    border-radius: 50px;
    width: 84px;
    height: 48px;
    position: absolute;
    top: 390px;
    left: 0;
    &::before {
      content: "";
      background-image: url("../../../assets/whiteLeftArrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      margin: auto;
      width: 33px;
      object-fit: contain;
      height: 11px;
    }
  }
  .slick-arrow.slick-next {
    border: 1px solid rgb(255, 255, 255, .5);
    border-radius: 50px;
    width: 84px;
    height: 48px;
    top: 390px;
    left: 100px;
    &::before {
      content: "";
      background-image: url("../../../assets/whiteRightArrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      margin: auto;
      width: 33px;
      object-fit: contain;
      height: 11px;
    }
  }
}
