.banner {
  background-image: url("../../assets/bannerImage.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  @media (max-width: 768px) {
    height: 100%;
  }
}
